@charset "utf-8";
/* ヘッダータイトル */
.head-title {
    font-weight: bold;
    font-size: 25px;
    padding: 0 50px;
    text-shadow: 2px 2px 1px #999999;
}

.head-title a {
    text-decoration: none;
}

.head-title a:link,
.head-title a:visited,
.head-title a:hover,
.head-title a:active {
    color: #ffffff;
}

.head-msg {
    height: 38px;
    margin-right: 20px;
}

.head-welcome {
    font-weight: normal;
    font-size: 16px;
}

.head-handlename {
    font-weight: normal;
    font-size: 20px;
}

.head-handlename a {
    text-decoration: none;
}

.head-handlename a:link,
.head-handlename a:visited,
.head-handlename a:hover,
.head-handlename a:active {
    color: #ffffff;
}

/* フッターテキスト */
.foot-txt {
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin: 0;
    text-align: center;
    cursor: default;
}

.foot-txt a {
    text-decoration: none;
    cursor: default;
}

.foot-txt a:link,
.foot-txt a:visited,
.foot-txt a:hover,
.foot-txt a:active {
    color: #ffffff;
}

/* メニュー */
.menu-list,
.menu-list-sub {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.menu-list li {
    margin: 0;
    text-align: center;
    width: 160px;
}

.menu-title {
    font-weight: bold;
}

.menu-list a, .menu-title {
    text-decoration: none;
      /* リンククリックの範囲をboxにする */
      display: block;
      height: 30px;
      padding-top: 7px;
      /* ポインタ時にグラデーション */
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -o-transition: 0.8s;
      -ms-transition: 0.8s;
      transition: 0.8s;
}

.menu-list a:hover, .menu-title:hover {
    background: rgba(181, 206, 229, 0.6);
    /*background: #B5CEE5;
    opacity: 0.6;*/
}

.menu-list a:link,
.menu-list a:visited,
.menu-list a:hover,
.menu-list a:active {
    color: #ffffff;
}

.cursor-def {
    cursor: pointer;
}

.menu-list-sub >li {
    font-size: 12px;
    text-align: right;
}

.menu-list-sub >li >a {
    padding-right: 15px;
}

/* コンテンツ */
.detail-list {
    width: 740px;
}

.detail-list-min {
    width: 540px;
}

.tbl-num {
    text-align: right;
    width: 40px;
}

.tbl-date {
    width: 110px;
}

.tbl-ico {
    text-align: center;
    width: 70px;
}

.tbl-button {
    text-align: right;
}

.tbl-button >.submit >input {
    margin-right: 10px;
}

/* ページリンク */
.link-page a {
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}

.link-page a:hover {
    background: #A9BCF5;
}

.link-page a:link,
.link-page a:visited,
.link-page a:hover,
.link-page a:active {
    color: #000000;
}

/* ボタンアイコン */
.icon-button {
    font-size: 12px;
    background: #D8D8D8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-button a {
    text-decoration: none;
}

.icon-button a:link,
.icon-button a:visited,
.icon-button a:hover,
.icon-button a:active {
    color: #000000;
}

.icon-button-min {
    font-size: 10px;
    background: #D8D8D8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 3px;
}

.icon-button-min a {
    text-decoration: none;
}

.icon-button-min a:link,
.icon-button-min a:visited,
.icon-button-min a:hover,
.icon-button-min a:active {
    color: #000000;
}

/* アイコン */
.icon-true {
    font-size: 12px;
    background: #01DFA5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-false {
    font-size: 12px;
    background: #D8D8D8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-like {
    font-size: 12px;
    background: #58ACFA;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-alt {
    font-size: 12px;
    background: #FE2E64;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-genre {
    font-size: 12px;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

/* アイコンカラー */
.col-event_1 { /* ライブ */
    background: #FE2E64;
}

.col-event_2 { /* リリイベ */
    background: #58D3F7;
}

.col-event_3 { /* 作品記念 */
    background: #819FF7;
}
.col-event_4 { /* 公開録音 */
    background: #FAAC58;
}

.col-event_5 { /* サイン会 */
    background: #FFFF00;
}

.col-entry_1 { /* FC先行 */
    background: #58ACFA;
}

.col-entry_2 { /* メディア先行 */
    background: #FE2E64;
}

.col-entry_3 { /* e+（イープラス） */
    background: #F5A9E1;
}

.col-entry_4 { /* Loppi（ローチケ） */
    background: #58D3F7;
}

.col-entry_5 { /* その他会員サイト */
    background: #FAAC58;
}

.col-entry_6 { /* その他チケットサイト */
    background: #FFFF00;
}

.col-entry_7 { /* 一般 */
    background: #FE2E9A;
}

.col-event_6,
.col-entry_8 { /* その他 */
    background: #D8D8D8;
}

/* 枠付きアラート文 */
.txt-block {
    text-align: center;
    background: #CEF6F5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* フラッシュメッセージ */
.flash-msg {
    margin-right: 200px;
    padding: 10px 20px;
    background: #CEF6F5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* jQuery-hide */
.js-hide {
    display: none;
}

.js-show {
    display: inline;
}

/* jQuery-tmb */
.js-tmb {
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
}