@charset "utf-8";
/* diaryページ用 */
.tbl-act_diary {
    width: 100px;
}

/* diary_genreページ用 */
.tbl-act_genre {
    width: 100px;
}

/* photoページ用 */
.tbl-tmb_photo {
    text-align: center;
    width: 120px;
    max-height: 120px;
}

.tbl-act_photo {
    width: 50px;
}

.img_photo {/* コンソール内の画像サイズ用 */
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
}

/* informationページ用 */
.tbl-act_information {
    width: 80px;
}

/* bannerページ用 */
.tbl-tmb_banner {
    text-align: center;
    width: 120px;
    max-height: 120px;
}

.tbl-act_banner {
    width: 80px;
}

.img_banner {/* コンソール内の画像サイズ用 */
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
}

/* linkページ用 */
.tbl-act_link {
    width: 80px;
}

/* adminページ用 */
.tbl-act_admin {
    width: 50px;
}