@charset "utf-8";
/* ヘッダータイトル */
.head-title {
    font-weight: bold;
    font-size: 25px;
    padding: 0 50px;
    text-shadow: 2px 2px 1px #999999;
}
.head-title a {
    text-decoration: none;
}
.head-title a:link,
.head-title a:visited,
.head-title a:hover,
.head-title a:active {
    color: #ffffff;
}

.head-msg {
    height: 38px;
    margin-right: 20px;
}
.head-welcome {
    font-weight: normal;
    font-size: 16px;
}
.head-handlename {
    font-weight: normal;
    font-size: 20px;
}
.head-handlename a {
    text-decoration: none;
}
.head-handlename a:link,
.head-handlename a:visited,
.head-handlename a:hover,
.head-handlename a:active {
    color: #ffffff;
}

/* パンくずリスト */
.breadcrumb {
    margin: -10px 0 5px -20px;
}
.breadcrumb >ol {
    margin: 0;
    list-style-type: none;
    font-weight: normal;
    font-size: 12px;
}
.breadcrumb >ol >li {
    float: left;
    margin: 0 0 10px 10px;
}

/* フッターテキスト */
.foot-txt {
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin: 0;
    text-align: center;
    cursor: default;
}
.foot-txt a {
    text-decoration: none;
    cursor: default;
}
.foot-txt a:link,
.foot-txt a:visited,
.foot-txt a:hover,
.foot-txt a:active {
    color: #ffffff;
}

/* メニュー */
.menu-list,
.menu-list-sub {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
.menu-list li {
    margin: 0;
    text-align: center;
    position: relative;
      /* メニューを横に揃える */
      float: left;
      /*width: 160px;*/
}
.menu-list a, .menu-title {
    text-decoration: none;
      /* リンククリックの範囲をboxにする */
      display: block;
      height: 30px;
      padding-top: 7px;
      /* ポインタ時にグラデーション */
      -webkit-transition: 0.8s;
      -moz-transition: 0.8s;
      -o-transition: 0.8s;
      -ms-transition: 0.8s;
      transition: 0.8s;
}
.menu-list a:hover, .menu-title:hover {
    background: rgba(181, 206, 229, 0.6);
    /*background: #b5cee5;
    opacity: 0.6;*/
}
.menu-list a:link,
.menu-list a:visited,
.menu-list a:hover,
.menu-list a:active {
    color: #ffffff;
}
.cursor-def {
    cursor: default;
}
.menu-list-sub {
    position: absolute;
    z-index: 2;
}
.menu-list-sub li {
    background-color: #696969!important;
    border-radius: 3px;
      /* グラデーションここから */
      background-image: -moz-linear-gradient(top, #000000, #696969);
      background-image: -ms-linear-gradient(top, #000000, #696969);
      background-image: -o-linear-gradient(top, #000000, #696969);
      background-image: -webkit-linear-gradient(top, #000000, #696969);
      background-image: linear-gradient(top, #000000, #696969);
      background-clip: padding-box;
      /* グラデーションここまで */
    box-shadow: -1px 1px 10px #696969;
}

/* サイドメニュー */
.side-menu_block {
    width: 200px;
    margin-bottom: 20px;
    background-color: #696969!important;
    border-radius: 3px;
      /* グラデーションここから */
      background-image: -moz-linear-gradient(top, #000000, #696969);
      background-image: -ms-linear-gradient(top, #000000, #696969);
      background-image: -o-linear-gradient(top, #000000, #696969);
      background-image: -webkit-linear-gradient(top, #000000, #696969);
      background-image: linear-gradient(top, #000000, #696969);
      background-clip: padding-box;
      /* グラデーションここまで */
    box-shadow: -1px 1px 10px #696969;
}

/* コンテンツ */
.detail-list {
    width: 740px;
}
.detail-list-min {
    width: 540px;
}

.tbl-num {
    text-align: right;
}
.tbl-ico {
    text-align: center;
}

/* ページリンク */
.link-page a {
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.link-page a:hover {
    background: #a9bcf5;
}
.link-page a:link,
.link-page a:visited,
.link-page a:hover,
.link-page a:active {
    color: #000000;
}

/* ボタンアイコン */
.icon-button {
    font-size: 12px;
    background: #d8d8d8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-button a {
    text-decoration: none;
}
.icon-button a:link,
.icon-button a:visited,
.icon-button a:hover,
.icon-button a:active {
    color: #000000;
}

.icon-button-min {
    font-size: 10px;
    background: #d8d8d8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 3px;
}
.icon-button-min a {
    text-decoration: none;
}
.icon-button-min a:link,
.icon-button-min a:visited,
.icon-button-min a:hover,
.icon-button-min a:active {
    color: #000000;
}

/* アイコン */
.icon-true {
    font-size: 12px;
    background: #01dfa5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-false {
    font-size: 12px;
    background: #d8d8d8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-like {
    font-size: 12px;
    background: #58acfa;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-alt {
    font-size: 12px;
    background: #fe2e64;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-genre {
    font-size: 12px;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

/* 枠付きアラート文 */
.txt-block {
    text-align: center;
    background: #cef6f5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* フラッシュメッセージ */
.flash-msg {
    margin: 20px;
    padding: 10px 20px;
    background: #f5f5ff;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* jQuery-hide */
.js-hide {
    display: none;
}
.js-show {
    display: inline;
}

/* jQuery-tmb */
.js-tmb {
    width: auto;
    height: auto;
    max-width: 120px;
    max-height: 120px;
}
