@charset "utf-8";
/* 日記用 */
.article {
    background-color: #F5FFF5;
    margin-bottom: 30px;
    border: solid 1px #000000;
    box-shadow: -1px 1px 1px #A4A4A4;
}

.art-header {
    padding: 5px;
}

.art-header >h3 {
    margin: 0;
}

.art-header >h3 >a {
    text-decoration: none;
}

.art-header >h3 >a:link,
.art-header >h3 >a:visited,
.art-header >h3 >a:hover,
.art-header >h3 >a:active {
    color: #000000;
}

.art-body {
    font-size: 14px;
    padding: 10px;
}

.art-footer {
    font-size: 12px;
    padding: 5px;
}

.article >hr {
    margin: 0 auto;
    width: 95%;
      /* 埋め込みデザイン */
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* 検索box用 */
#searchbox {
    width: 200px;
    padding: 10px 0;
    text-align: center;
    background-color: #0B243B;
    border-radius: 3px;
      /* グラデーションここから */
      background-image: -moz-linear-gradient(top, #0b243b, #0b3861);
      background-image: -ms-linear-gradient(top, #0b243b, #0b3861);
      background-image: -o-linear-gradient(top, #0b243b, #0b3861);
      background-image: -webkit-linear-gradient(top, #0b243b, #0b3861);
      background-image: linear-gradient(top, #0b243b, #0b3861);
      background-clip: padding-box;
      /* グラデーションここまで */
    box-shadow: -1px 1px 10px #32B4C3;
}

/* カレンダー用 */
#calendar {
    width: 200px;
    margin-top: 20px;
    padding: 10px 0;
    text-align: center;
    background-color: #0B243B;
    border-radius: 3px;
      /* グラデーションここから */
      background-image: -moz-linear-gradient(top, #0b243b, #0b3861);
      background-image: -ms-linear-gradient(top, #0b243b, #0b3861);
      background-image: -o-linear-gradient(top, #0b243b, #0b3861);
      background-image: -webkit-linear-gradient(top, #0b243b, #0b3861);
      background-image: linear-gradient(top, #0b243b, #0b3861);
      background-clip: padding-box;
      /* グラデーションここまで */
    box-shadow: -1px 1px 10px #32B4C3;
}

.cal-header >span >a {
    text-decoration: none;
}

.cal-header >span >a:link,
.cal-header >span >a:visited,
.cal-header >span >a:hover,
.cal-header >span >a:active {
    color: #ffffff;
}

.cal-link {
    margin: 0 10px;
}

.sat {
    color: #58ACFA;
}

.cal-body >table >tbody >tr >td >a {
    //text-decoration: none;
    font-weight: bold;
}

.cal-body >table >tbody >tr >td >a:link,
.cal-body >table >tbody >tr >td >a:visited,
.cal-body >table >tbody >tr >td >a:hover,
.cal-body >table >tbody >tr >td >a:active {
    color: #ffffff;
}