@charset "utf-8";
/* コンテンツ説明文用 */
.intro_mh {
    margin: 0 20px 30px 20px;
}

/* ページリンク用 */
.link-page {
    list-style-type: none;
    margin-bottom: 50px;
}

.link-page >li {
    margin-bottom: 10px;
}