@charset "utf-8";
.pc {
  display: none !important;
}
.mobile {
  display: inherit !important;
}
/*body {
  -webkit-text-size-adjust: 200%;
  -moz-text-size-adjust: 200%;
  -ms-text-size-adjust: 200%;
  -o-text-size-adjust: 200%;
  text-size-adjust: 200%;
}*/
/*span {
  white-space: normal;
}*/
#container, #header, #footer {
  width: 100%;
}
#content, #content_main {
  width: 92%;
  margin: 0;
  padding: 8% 4% 4% 4%;
}
#content >table, #content >form {
  margin-left: 5px;
  margin-bottom: 5px;
}

/* ヘッダー */
#header {
  height: 120px;
  text-align: center;
}
#header >h1 {
  padding: 28px 0 15px 0;
}
.head-title {
  font-size: 20px;
  padding: 0 10px;
}

/* メニュー */
.menu-list li {
  width: 20% !important;
}
.menu-list-sub, .menu-list-sub li {
  width: 100% !important;
  font-size : 12px;
}

.breadcrumb ol, .link-page {
  padding-left: 10px;
}

/* top */
.img_top {
  width: 108%;
  margin: -8% 0 0 -4%;
  border: none;
}
.bd-com_top {
  margin: 20px 5px;
  font-size: 20px;
}
.side_top {
  float: none;
}
#twitter {
  width: 100% !important;
  margin-right: 0 !important;
}
#twitter-widget-0 {
  max-height: 250px;
}
.inform_top {
  width: auto;
  margin: 50px 10px 10px 10px;
}
.inform_top >hr {
  width: 90%;
}
.h_top {
  margin-top: 20px !important;
}
.hr_top {
  width: auto;
}

/* pages */
.tbl_info {
  width: 100%;
  margin: 5px;
}
.tbl_prof {
  width: 98%;
}
.img_prof {
  width: 150px;
  height: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.tbl_link {
  width: 98%;
}
.list_mh_start, .list_mh_skill {
  padding-left: 20px;
}

/* tools */
.update-log {
  width: auto;
  margin: 20px 20px 30px 20px;
}

/* erg */
.game-list {
  width: 100%;
}
.detail-list_erg {
  width: 100%;
}
.tbl-1_erg_mobile {
  width: 20%;
  text-align: center;
}
.tbl-2_erg_mobile {
  width: 80%;
  word-wrap: break-word;
}

/* mh */
.txt_mh {
  margin: 10px 10px 50px 10px;
}
.img_mh {
  width: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: -15px;
}
.txt_mh >span.txt-min {
  width: 300px;
  display: block;
  margin: 0 auto;
  white-space: normal;
}
.name-skill {
  display: block;
  margin-bottom: 10px;
}
.txt-skill {
  margin-left: 30px;
  white-space: normal;
}
.star-skill {
  float: none;
  width: 255px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

/* voice */
.voice-list {
  width: 100%;
}

/* diary */
.img_diary, .img_diary_past {
  max-width: 100%;
  max-height: 430px;
}
.art-body >div, .art-body >iframe {/* 動画リサイズ用 */
  max-width: 100%;
  height: auto;
}
#menu_top {
  margin: 10px 0;
}
#pagelink_mobile {
  float: left;
  width: 65%;
}
#pagelink_mobile >p {
  margin: 0;
  text-align: center;
}
#pagelink_mobile >p >span {
  font-size: 12px;
  padding: 3px 5px;
  border: 1px solid #000000;
  background-color: #ffffff;
  z-index: 2;
}
#pagelink_mobile >ul {
  list-style-type: none;
  margin: -10px 0 0 0;
  padding: 10px 0 0 0;
  font-size: 12px;
  border: 1px solid #000000;
  background-color: #ffffff;
}
#pagelink_mobile >ul >li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
/*#pagelink_mobile >ul >li >a {
  text-decoration: none;
}*/
#pagelink_mobile >ul >li >a:link,
#pagelink_mobile >ul >li >a:visited,
#pagelink_mobile >ul >li >a:hover,
#pagelink_mobile >ul >li >a:active {
  color: #000000;
}
#searchbox_mobile {
  float: right;
  width: 35%;
  margin-top: 5px;
  text-align: center;
}
