@charset "utf-8";
/* オプション一覧用 */
.list_option {
    list-style-type: none;
}

.list_option >li {
    height: 40px;
}

/* コンテンツ説明文用 */
.intro_pages {
    height: 150px;
    margin-left: 20px;
}

.intro_pages >p {
    margin-right: 20px;
    margin-bottom: 30px;
}