@charset "utf-8";
/* informationページ用 */
.list_info {
    margin-bottom: 50px;
}

.tbl_info {
    width: 720px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.tbl_info >tbody >tr >th,
.tbl_info >tbody >tr >td {
    padding-left: 5px;
    padding-right: 5px;
}
.tbl-title-h_info {
    width: 30%;
    text-align: left;
}
.tbl-title-d_info {
    width: 20%;
}
.tbl-text_info {
    width: 70%;
}
.tbl-last_info {
    margin-bottom: 50px!important;
}

/* authorページ用 */
.tbl_prof {
    width: 720px;
    margin-bottom: 50px!important;
    border-collapse: collapse;
}
.tbl-title_prof,
.tbl-text_prof {
    border: 1px solid #000000;
}
.tbl-title_prof {
    width: 35%;
    background-color: #f5f5ff;
}
.tbl-text_prof {
    width: 65%;
}

.img_prof {
    width: 200px;
    height: 200px;
    margin-right: 30px;
    margin-bottom: 30px;
    float: right;
}

/* サイトリンク一覧用 */
.tbl_link {
    width: 720px;
    margin-bottom: 30px!important;
    border-collapse: collapse;
}
.tbl_link >tbody >tr >th,
.tbl_link >tbody >tr >td {
    border: 1px solid #000000;
}
.tbl_link >tbody >tr >th {
    background-color: #f5f5ff;
}
.tbl-title_link {
    width: 35%;
}
.tbl-text_link {
    width: 65%;
}

/* コンテンツ説明文用 */
.intro_info,
.intro_prof,
.intro_link {
    margin: 0 20px 50px 20px;
}
