@charset "utf-8";
/* コンテンツ説明文用 */
.intro_tools,
.intro_rank {
  margin: 0 20px 50px 20px;
}

/* ページリンク用 */
.link-page {
  list-style-type: none;
  margin-bottom: 50px;
}
.link-page >li {
  margin-bottom: 10px;
}

/* ツール更新履歴用 */
.h4_tools {
  margin-top: 50px;
  margin-left: 20px;
}
.update-log {
  width: 360px;
  margin: 20px 40px 50px 40px;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.update-date {
  font-size: 12px;
  text-align: right;
  margin-right: 20px;
}
.update-log >hr {
  width: 90%;
}

/* rankingページ用 */
.tbl_rank {
  margin-bottom: 50px !important;
}
.title_rank {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  font-weight: bold;
}
.select_rank {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.result_rank {
  list-style-type: none;
  margin-bottom: 30px;
}
.result_txt_rank {
  margin-left: 40px;
  margin-bottom: 30px;
}

/* mh_skillページ用 */
.result_mh_sim {
  padding-left: 40px;
  padding-bottom: 30px;
}
