@charset "utf-8";
/* TOP画像用 */
.img_top {
    width: 634px;
    margin-top: -30px;
    margin-left: -20px;
    border: solid 3px #000000;
}

/* コンテンツ説明文用 */
.intro_top {
    height: 90px;
    margin-left: 20px;
}

.intro_top >p {
    margin-right: 20px;
    margin-bottom: 30px;
}