@charset "utf-8";
/* コンテンツ説明文用 */
.intro_voice {
    margin: 0 20px 50px 20px;
}

/* ページリンク用 */
.link-page {
    list-style-type: none;
    margin-bottom: 50px;
}

.link-page >li {
    margin-bottom: 10px;
}

/* 画像用 */
/*.img_voice {
    width: 300px;
}*/

/* テキスト用 */
/*.txt_voice {
    margin-left: 20px;
    margin-bottom: 50px;
}*/

/* 作品一覧用 */
.voice-list {
    width: 740px;
}

.voice-list >tbody >tr >th,
.voice-list >tbody >tr >td {
    border: 1px solid #000000;
}

.game-list >tbody >tr >th {
    background-color: #F5F5FF;
    text-align: left;
}

.tbl-date_voice {
    width: 100px;
    text-align: center;
}

.tbl-ico_voice {
    width: 65px;
    text-align: center;
}

.tbl-title_voice {
    width: 300px;
}

.tbl-title_voice-music {
    width: 200px;
}

.tbl-chara_voice {
    width: 120px;
}